{
    "development": {
        "username": "gmendez",
        "password": "secretpassword",
        "database": "core_app_development",
        "host": "mysql_server",
        "dialect": "mysql"
    }
}